:root {
    --second-accent-eng: rgb(125, 169, 130);
    --second-accent-fr: rgb(55, 80, 92);
}

@font-face {
    font-family: 'Newsreader';
    src: url('fonts/Newsreader/Newsreader-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Newsreader';
    src: url('fonts/Newsreader/Newsreader-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Newsreader';
    src: url('fonts/Newsreader/Newsreader-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Newsreader';
    src: url('fonts/Newsreader/Newsreader-MediumItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
    font-family: 'Newsreader', serif;
    background-color: var(--main-bg);
    color: var(--main-accent);
    line-height: 1.4;
}

main {
    min-height: 90vh;
}

@media (max-width: 600px) {
    .homescreen-div {
        height: 50% !important;
    }

    .homescreen-title {
        font-size: 2.5em !important;
        bottom: 10% !important;
        margin: 0px 10% !important;
        text-align: center !important;
        width: 80% !important;
    }

    .menu-table {
        left: 50% !important;
        transform: translateX(-50%);
        width: 100%;
    }

    .content-inner-div {
        margin: 0 20px !important;
    }

    #callum-outer {
        margin: 35px 40px !important;
        height: 40vh !important;
        width: auto !important;
    }

    .experience-table {
        margin: 0px !important;
    }

    .experience-descr {
        border-bottom: solid 1px var(--main-accent) ;
        padding: 0 20px 20px;
    }
    
    .project-parent {
        margin: 60px 0px 40px !important;
        width: auto !important;
    }

    .project-descr {
        margin-bottom: 20px !important;
    }

    .project-img {
        width: 100% !important;
        height: 220px !important;
        margin: 20px 0 !important;
    }

    .project-title {
        font-size: 1.8em !important;
        width: 80% !important;
    }

    .project-tile {
        padding: 0 20px;
    }

    .hide600 {
        display: none !important;
    }

    .show600 {
        display: inline !important;
    }

    .contact-form-div {
        width: 90% !important;
    }

    p, td, ul {
        text-align: justify;
    }
}

.show600 {
    display: none;
}

a {
    transition: 0.2s;
}

.menu-link {
    text-align: center;
}

.menu-link a {
    font-weight: 300;
    text-decoration: none;
    user-select: none;
}

.menu-table {
    position: absolute;
    border-collapse: unset;
    top: 10px;
    left: calc(20% - 20px);
    font-size: 14pt;
    border-spacing: 20px;
    opacity: 0.7;
    font-weight: 300;
}

.homescreen-div {
    height: 50%;
    position: relative;
}

.homescreen-title {
    position: absolute;
    font-size: 3em;
    bottom: 20%;
    font-weight: 400;
    margin: 0 20%;
}
.content-div {
    width: 100%;
}
.content-inner-div {
    margin: 0 20%;

}
.content-title {
    font-size: 1.5em;
    text-align: center;
}
.content-txt {
    font-size: 1.2em;
    font-weight: 300;
}
#prev-exp {
    font-size: 1.5em;
    text-align: center;
    margin: 40 0 0 0;
}
.experience-div {
    width: 100%;
}
.experience-table {
    margin: 0 20%;
    font-size: 1.2em;
    -webkit-border-vertical-spacing: 40px;
}
.experience-row {
    width: 100%;
    margin: 0 20px;
}
.experience-title {
    width: 40%;
    line-height: 1.4;
}
.experience-descr {
    font-weight: 300;
    line-height: 1.4;
}

#callum-outer {
    width: 50%;
    height: 350px;
    margin: 35px 25%;
}
#callum-inner {
    background-image: url('https://i.imgur.com/ybXlSQV.jpg');
}

@media (min-width: 1200px) {
    #callum-outer {
        width: 30% !important;
        height: 400px !important;
        margin: 35px 35% !important;
    }

}

#callumdiss-outer {
    width: 40%;
    height: 350px;
    margin: 35px 30%;
}
#callumdiss-inner {
    background-image: url('https://i.imgur.com/hQc2v7B.jpg');
}

.resizeable-outer-div {
    overflow: hidden;
}

@media (max-width: 600px) {
    .resizeable-outer-div {
        width: calc(100% - 40px) !important;
        margin: 35px 20px !important;
    }
}

.resizeable-inner-div {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    place-items: center;
}

.project-parent {
    width: 60%;
    margin: 60px 20% 40px;
}

.project-tile {
    width: 100%;
    border-bottom: solid 1px var(--main-accent);
}

.project-tile:first-of-type {
    border-top: solid 1px var(--main-accent);
}

.project-title {
    margin: 20px 0;
    font-size: 1.9em;
    font-weight: 400;
}
.project-hdr {
    position: relative;
    cursor: pointer;
}
.project-hdr:hover {
    opacity: 0.8;
}

a:hover {
    text-decoration: none;
    color: var(--main-accent);
}

.project-btn {
    position: absolute;
    height: 25px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: none;
    border: none;
    transition: 0.5s;
}

.project-img {
    height: 250px;
    margin: 20px 15%;
    width: 70%;
}

#projects-description p {
    font-size: 1.3em;
}

.project-descr {
    font-size: 1.3em;
    margin-bottom: 40px;
    font-weight: 300;
}

#redistricter {
    /* Redistricter */
    position: relative;
    background-repeat: none;
    background-size: auto 100%;
    background-image: url('https://i.imgur.com/HplgaGI.gif');
}
#aco {
    /* ACO */
    position: relative;
    background-repeat: none;
    background-size: auto 100%;
    background-image: url('https://i.imgur.com/ou5xGU3.png');
}
#mdt {
    /* MDT */
    position: relative;
    background-image: url('https://i.imgur.com/rM5lKlj.png');
}
#webdev {
    /* Hunt Dayo */
    position: relative;
    background-image: url('https://i.imgur.com/WjmreLp.png');
}

.popup-div {
    background-color: var(--main-bg);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
}

.popup-parent {
    width: 70%;
    margin: 10vh 15%;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.popup-tile {
    display: grid;
    place-items: center;
    height: 80vh;
    transition: 0.2s;
}

#popup-outer {
    height: 100%;
    width: 100%;
}

#popup-inner {
    background-image: url('https://i.imgur.com/HplgaGI.gif');
}

.slideIn {
    animation: slideIn 1s;
}

.slideOut {
    animation: slideOut 1s;
}

@keyframes slideIn {
    0% {transform: translateY(100%); opacity: 0}
    100% {transform: translateY(0%); opacity: 1}
}

@keyframes slideOut {
    0% {transform: translateY(0%); opacity: 1}
    100% {transform: translateY(100%); opacity: 0}
}

#popup-hide {
    background: none;
    border: none;
    position: absolute;
    cursor: pointer;
    width: 30px;
    right: 10%;
    top: 10%;
}

#popup-hide:hover {
    opacity: 0.5;
}

#popup-hide img {
    width: 100%;
}

a {
    color: var(--main-accent);
    transition: 0.2s;
}

a:active {
    color: var(--main-accent) !important;
}

p a {
    font-style: italic !important;
    text-decoration: underline;
}

a:hover {
    opacity: 0.8;
}

.contact-shadow {
    display: none;
    position: fixed;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    top: 0;
    background: var(--main-bg);
}

.contact-form-div {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#contact-postmail {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.contact-error-msg {
    font-weight: bold;
    display: none;
}

.contact-close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.contact-close:hover {
    opacity: 0.8;
}

input {
    font-family: 'Newsreader', sans-serif;
    border: none;
    margin: 10px 0;
    background-color: white;
    border: solid 1px #EFEFEF;
}

input[type=text] {
    width: 100%;
    padding: 15px;
}

input[type=email] {
    width: 100%;
    padding: 15px;
}
input[type=submit] {
    font-weight: bold;
    font-family: 'Newsreader', serif;
    padding: 15px;
    width: 50%;
    background-color: var(--main-bg);
    border: 1px solid var(--main-accent);
    color: var(--main-accent);
    cursor: pointer;
    transition: 0.2s;
}
input[type=submit]:hover {
    background-color: var(--main-accent);
    color: var(--main-bg);
}

.sending {
    background-color: var(--main-accent) !important;
    color: var(--main-bg) !important;
    cursor: initial !important;
}

textarea {
    font-family: 'Newsreader', sans-serif;
    width: 100%;
    height: 100px;
    padding: 15px;
    resize: none;
    margin: 10px 0;
    background-color: white;
    border: solid 1px #EFEFEF;
}

.message-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.message-title {
    font-size: 2em;
    margin: 0 0 20px;
}
.message {
    margin: 0;
}

.fadeIn {
    animation: fadeIn 0.5s ease forwards;
}

.fadeOut {
    animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

/*#francais:hover {
    text-shadow: 0px 0px 2px rgb(0 0 0 / 40%);
    opacity: 1 !important;
    background: -webkit-linear-gradient(180deg, rgba(237,41,57,1) 0%, rgba(237,41,57,1) 33%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 66%, rgba(0,38,84,1) 66%, rgba(0,38,84,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#english:hover {
    text-shadow: 0px 0px 2px rgb(0 0 0 / 40%);
    opacity: 1 !important;
    background: -webkit-linear-gradient(135deg, rgba(0,36,125,1) 20%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 40%, rgba(207,20,43,1) 40%, rgba(207,20,43,1) 60%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 80%, rgba(0,36,125,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

.footer-div {
    width: 100%;
    height: 10vh;
}

.footer-div p {
    margin: 0;
    text-align: center;
}

.publications-parent {
    margin-bottom: 40px !important;
}

.publication-tile {
    width: 100%;
}

.publication-tile h1 {
    font-size: 1.2em;
    margin: 0;
}

.publication-tile ul {
    font-size: 1.1em;
    margin: 0 0 20px 0;
}